body {
    background-color: #f0f1f5;
}

h1 h2 h3 h4 h5 h6 {
    color: #DB8739;
}

a.internal-link.is-unresolved div.toc-container a.internal-link a.external-link a {
    color: orange;
}


/* src/site/styles/user/footer.css */

footer {
    padding: 20px;
    text-align: right;
}

footer p {
    margin: 5px 0;
    font-size: 0.8rem; /* 1 rem est généralement équivalent à 16px par défaut, mais cela peut varier selon les réglages globaux */
    line-height: 1.6; /* Hauteur de ligne */
}

footer a {
    color: #1da1f2;
    text-decoration: none;
    font-size: 1.125rem; /* Équivalent à 18px si 1rem = 16px */
    font-weight: 600; /* Poids de la police pour les liens */
}

footer a:hover {
    text-decoration: underline;
}
